<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="JeyKeu Test Suite">
            <directory>tests/JeyKeu</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Silex</directory>
            <directory suffix=".php">src/JeyKeu</directory>
        </whitelist>
    </filter>
</phpunit>
